footer {
  background-color: black;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer a,
footer a:link,
footer a:visited,
footer a:active {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 0.8rem;
}

footer a:hover {
  color: lightgrey;
}

@media screen and (max-width: 600px) {
  .responsive {
    text-align: center;
  }
  footer {
    padding-left: 1rem;
    padding-right: 1rem;

    flex-direction: column;
    text-align: center;
  }

  /* .decoList li {
    text-align: left;
  } */
}
